* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.history-bar {
  height: 10vh;
  background-color: #3367d6;
  width: 100vw;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-bar-inner-cont {
  display: flex;
  justify-content: flex-start;
  background-color: #2850a7;
}

.search-prop {
  background-color: #2850a7;
  width: 40vw;
  border-style: none;
  color: #ffffff;
}

.history-item-container {
  width: 90vw;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.12);
}

.nil-history {
  text-align: center;
}
